@font-face {
    font-family: '8-bit';
    src: url('../fonts/8-bit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#main p {
    text-align: center; 
    font-family: "8-bit";
    font-size: 20px;
}

#main canvas {
    display: block;
    margin-left: auto;
    margin-right: auto
}
